@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --color-blue: #3a86ff;
    --color-black: #333;
    --color-grey: #edf2fb;
    --color-white: #ffffff;
    --border: solid 1px var(--color-black);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1024px;
    margin: auto;
}
.navbar {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; 
}
.en-tete{
    margin-top: 10px;
    margin-bottom: 5px;
}
.descript{
    margin-bottom: 7px;
}
.logo img{
    width: 70px; 
    margin-right: 10px;  
    cursor: pointer; 
}
.menu-items ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-items ul li
{
    list-style: none;
    padding: 55px;
    align-items: flex-end;
}

.menu-items ul li a
{
    color: var(--color-black);
    text-decoration: none;
    font-family: serif;
    font-size: 15px;
}
/* Appliquer du style au l'élément actif */
.menu-items ul li a:hover
{
    transition: 0.1s;
    color: var(--color-blue);   
}

/* Main */

.A{
    height: auto;
    margin-bottom: 5px;
}
.B{
    height: auto;
    margin-bottom: 5px;
    border: #e5e5e5;
    border-radius: 10px;
    background: #e5e5e5;
}
.C{
    height: 180px;
    margin-bottom: 5px;
    border: var(--border);
}
.footer{
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #e5e5e5;
    border: solid 1px;
    align-items: center;
}
.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer ul li{
    list-style: none;
    margin-top: 25px;
}
.footer ul li a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.footer ul li p{
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.descript{
    font-size: 12px;
    color: gray;
    font-family: sans-serif;
}
.barre-recherche{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
    
}
.filtre-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: auto;
    margin-bottom: 10px;
    margin-top: 13px;
    font-weight: bold;
}
.filtre-items a{
    color: #333;
    font-size: 17px;
}
.filtre-items .space{
    margin-right: 10px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 170px;
    height: 30px;
    border: solid 1px #e5e5e5;
    border-radius: 20px;
    padding: 5px 10px 5px;
    cursor: pointer;
}
.largeur{
    width: 120px;
}
button .icone{
    color: #0d29ce;
    border: solid 1px rgb(136, 196, 213);
    border-radius: 20px;
    padding: 6px 10px 5px;
    margin: -10px;
    background-color: #cce6f4;
}
/*Bouton<i>*/
.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 25px 0 25px;
}
.info .info-lib{
    margin-left: 13px;
}
.info-clic{
    margin-left: 7px;
}
.info-clic .fa-info{
    color: #0d29ce;
    border: solid 1px rgb(236, 238, 239);
    border-radius: 20px;
    padding: 6px 10px 5px;
    margin: -10px;
    background-color: white;
    cursor: pointer;
}
/**/
    .cadre{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        background-color: white;
        padding: 10px;
        height: auto;
    }
    .cadre-1{
        /* display: flex;
        flex-direction: row;
        justify-content: flex-start;*/
        width: 70%;
        height: auto;
        background-color:#e5e5e5;
        border-radius: 10px;
        padding: 20px;
    }
    .cadre-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        background-color: #e5e5e5;
        border-radius: 10px;
        padding: 20px;
    }
    .cadre-1 p{
        font-weight: bold;
        color: #333;
        font-size: 17px;
    }
    .card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        gap: 15px;

    }
    .card{
        display: flex;
        flex-direction: column;
        width: 196px;
        height: auto;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }
    .card img{
        padding: 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .card b{
        padding-left: 10px;
    }
    .card .star
    {
        display: flex;
        flex-direction: row;
        padding: 10px;
        color: #3a86ff;
    }
    .card .star .gris{
        color: #e5e5e5;
    }
    .card2{
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }
    .card2 img{
        padding: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .card2 a{
        padding-left: 10px;
        height: 10px;
        padding-bottom: 5px;
        color: gray;
        font-size: 15px;
    }
    .card2 b{
        padding-left: 10px;
    }
    .card2 .star
    {
        display: flex;
        flex-direction: row;
        color: #3a86ff;
        padding-left: 10px;
        padding-top: 20px;
    }
    .card2 .star .gris{
        color: #e5e5e5;
    }
    .description{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 110px;
        padding-top: 5px;
        padding-right: 5px;
    }
    
    .cadre-2 p{
        font-weight: bold;
        color: #333;
        font-size: 19px;
    }
    .parag{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .article{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 15px;
    }
    .card .prix, .card2 .prix{
        font-size: 12px;
        color: #e5e5e5;
        padding-top: 5px;
        padding-left: 10px;
    }
    .article .star{
        display: flex;
        flex-direction: row;
        color: #3a86ff;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 0;
    }


